In [2]:
import pandas as pd
import numpy as np
#rating_movie_data = pd.read_csv('D:/Python обучение/Pandas_learning/Pandas/Pandas_stady/Pandas_v5/movies_data/ratings_movies.csv', sep=',')
rating_movie_data = pd.read_csv('C:/Users/LeonidKogtev/Python_learning/Pandas/practice/Pandas_stady/Pandas_v5/movies_data/ratings_movies.csv', sep=',')
display(rating_movie_data.head())
display(rating_movie_data.tail())

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

,Unnamed: 0,userId,movieId,rating,date,title,genres
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [ ]:
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [ ]:
rating_movie_data['year_release'] = rating_movie_data['title'].apply(get_year_release)
rating_movie_data['year_release'] = rating_movie_data['year_release'].astype('Int64')
mask_1999 = rating_movie_data['year_release'] == 1999
rating_movie_data_1999 = rating_movie_data[mask_1999]
mean_reting_1999 = rating_movie_data_1999.groupby(by='title')['rating'].mean()
#display(rating_movie_data_1999.groupby(by='title')['rating'].mean())
display(mean_reting_1999.sort_values())
#display(rating_movie_data)
#display(rating_movie_data_1999)

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

In [ ]:
mask_2010 = rating_movie_data['year_release'] == 2010
rating_movie_data_2010 = rating_movie_data[mask_2010]
mean_reting_2010 = rating_movie_data_2010.groupby(by='genres')['rating'].mean()
display(mean_reting_2010.sort_values())

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

In [ ]:
rating_movie_data.groupby(by='userId')['genres'].describe()['unique'].sort_values()

userId
214     13
85      13
245     13
494     15
578     15
      ...
474    395
380    399
448    403
414    482
599    524
Name: unique, Length: 610, dtype: object

In [ ]:
rating_movie_data.groupby(by='userId')['rating'].agg("min", 'mean').sort_values()

userId
305    0.5
274    0.5
286    0.5
287    0.5
292    0.5
      ...
319    3.5
25     4.0
515    4.0
49     4.0
53     5.0
Name: rating, Length: 610, dtype: float64

In [ ]:
mask_2018 = rating_movie_data['year_release'] == 2018
rating_movie_data_2018 = rating_movie_data[mask_2018]
rating_movie_data_2018.groupby(by='genres')['rating'].agg('describe').sort_values(by='count')

,count,mean,std,min,25%,50%,75%,max
genres,,,,,,,,
Adventure|Comedy|Fantasy,1.0,4.500000,NaN,4.5,4.500,4.50,4.500,4.5
Drama|Fantasy|Thriller,1.0,2.000000,NaN,2.0,2.000,2.00,2.000,2.0
Crime|Drama|Mystery|Thriller,1.0,1.500000,NaN,1.5,1.500,1.50,1.500,1.5
Crime|Drama,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Comedy|Romance,1.0,4.500000,NaN,4.5,4.500,4.50,4.500,4.5
Comedy|Fantasy|Sci-Fi,1.0,4.500000,NaN,4.5,4.500,4.50,4.500,4.5
Comedy|Crime|Drama,1.0,2.500000,NaN,2.5,2.500,2.50,2.500,2.5
Adventure|Thriller,1.0,4.500000,NaN,4.5,4.500,4.50,4.500,4.5
Horror|Mystery|Thriller,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Adventure|Children|Fantasy|Sci-Fi,1.0,3.000000,NaN,3.0,3.000,3.00,3.000,3.0
Action|Mystery|Sci-Fi|Thriller,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Action|Crime|Thriller,1.0,2.500000,NaN,2.5,2.500,2.50,2.500,2.5
Sci-Fi|Thriller,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Action|Comedy|Crime|Horror,1.0,4.000000,NaN,4.0,4.000,4.00,4.000,4.0
Action|Comedy,1.0,3.000000,NaN,3.0,3.000,3.00,3.000,3.0
Action|Animation,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Action|Crime|Drama|Thriller,1.0,4.000000,NaN,4.0,4.000,4.00,4.000,4.0
Action|Fantasy|Sci-Fi,2.0,2.750000,0.353553,2.5,2.625,2.75,2.875,3.0
Horror|Mystery|Sci-Fi|Thriller,2.0,2.250000,2.474874,0.5,1.375,2.25,3.125,4.0
Documentary,2.0,4.000000,1.414214,3.0,3.500,4.00,4.500,5.0
Action|Adventure|Drama|Sci-Fi|Thriller,2.0,3.250000,1.060660,2.5,2.875,3.25,3.625,4.0
Comedy|Drama,2.0,3.250000,1.060660,2.5,2.875,3.25,3.625,4.0
Action|Adventure|Thriller,2.0,3.750000,0.353553,3.5,3.625,3.75,3.875,4.0
Action|Adventure|Comedy|Fantasy|Sci-Fi,3.0,3.666667,0.577350,3.0,3.500,4.00,4.000,4.0
Adventure|Mystery|Sci-Fi|Thriller,3.0,3.833333,0.288675,3.5,3.750,4.00,4.000,4.0
Action|Adventure|Fantasy,4.0,2.500000,1.354006,0.5,2.375,3.00,3.125,3.5
Drama|Horror|Thriller,4.0,2.750000,1.755942,1.0,1.375,2.75,4.125,4.5
Action|Adventure|Animation|Children,4.0,3.000000,1.414214,1.0,2.500,3.50,4.000,4.0
Animation|Comedy,5.0,3.500000,1.274755,1.5,3.500,3.50,4.000,5.0
Action|Adventure|Children|Sci-Fi,5.0,3.900000,0.741620,3.0,3.500,4.00,4.000,5.0
Comedy,8.0,3.312500,0.961305,1.5,2.875,3.50,4.000,4.5
Action|Comedy|Sci-Fi,12.0,3.875000,1.227062,1.0,3.375,4.00,5.000,5.0
Action|Adventure|Sci-Fi,14.0,3.928571,1.141139,1.5,3.250,4.25,4.875,5.0

In [ ]:
#
rating_movie_data['date'] = pd.to_datetime(rating_movie_data['date'] , yearfirst=True)

rating_movie_data['year_rating'] = rating_movie_data['date'].dt.year

rating_movie_data


pivottab = rating_movie_data.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    aggfunc=['mean'],
    fill_value=0
)
#display(pivottab)

display(pivottab['mean']['Comedy'])

year_rating
1996    3.228571
1997    3.409091
1998    3.000000
1999    3.606061
2000    3.141291
2001    3.318408
2002    3.198556
2003    3.120066
2004    3.356877
2005    2.963325
2006    3.347534
2007    2.928187
2008    3.426667
2009    3.273292
2010    3.179825
2011    3.232877
2012    3.478477
2013    3.489474
2014    3.271429
2015    3.106183
2016    3.373431
2017    2.852668
2018    3.121296
Name: Comedy, dtype: float64

In [ ]:
orders = pd.read_csv('D:/Python обучение/Pandas_learning/Pandas/Pandas_stady/Pandas_v5/orders_and_products/orders.csv', sep=';')
products = pd.read_csv('D:/Python обучение/Pandas_learning/Pandas/Pandas_stady/Pandas_v5/orders_and_products/products.csv', sep=';')

orders = orders.rename(columns={'ID товара': 'Product_ID'})
#display(orders)
#display(products)
orders_products = orders.merge(
    products,
    on='Product_ID',
    how='left'
)

display(orders_products)
orders_products['profit'] = orders_products['Price'] * orders_products['Количество']
display(orders_products)
 
orders_products[orders_products['Оплачен'] == 'Да'].groupby('ID Покупателя')['profit'].sum().sort_values(ascending=False)

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,Product_ID,Количество,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,Product_ID,Количество,Name,Price,CURRENCY,profit
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR,995.0
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,"Носки Простые, муж",45.0,RUR,4500.0
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,"Носки Подарочные, жен",249.0,RUR,2490.0
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,"Носки Подарочные, жен",249.0,RUR,1743.0
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,"Носки Подарочные, жен",249.0,RUR,1245.0
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR,995.0
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,Носки беговые Camino,999.0,RUR,999.0
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,"Носки Честные, муж",50.0,RUR,50.0
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,"Носки Подарочные, муж",199.0,RUR,597.0
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,"Носки Подарочные, жен",249.0,RUR,747.0
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,Платье Ночная Жизнь XXXL,8999.0,RUR,8999.0
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,Штаны Цветочная Поляна,4999.0,RUR,4999.0
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,Гольфы детские Снегурочка,99.0,RUR,99.0
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,Шатны Полосатый рейс,2999.0,RUR,2999.0
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,Платье Ночная Жизнь,7999.0,RUR,7999.0
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,"Носки Простые, муж",45.0,RUR,45.0
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,Платье Аленький цветочек,4999.0,RUR,4999.0
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

ID Покупателя
7    17096.0
5    13043.0
8     1344.0
1        0.0
Name: profit, dtype: float64